[workspace]
authors = ["Krisztian Szucs <szucs.krisztian@gmail.com>"]
channels = ["conda-forge", "https://conda.modular.com/max-nightly"]
name = "marrow"
platforms = ["osx-arm64", "linux-64"]
version = "0.1.0"

[tasks]
build_marrow = {cmd="mojo build -I . python/marrow.mojo --emit shared-lib -o marrow/marrow.so"}
test_mojo = {cmd = "bash run_tests.sh" }
test_python = {cmd = "pytest -s -v marrow/tests", depends-on=["build_marrow"]}
test = {depends-on = ["test_mojo", "test_python"]}
fmt_mojo = {cmd = "mojo format marrow"}
fmt_python = {cmd = "ruff format python" }
fmt = {depends-on = ["fmt_mojo", "fmt_python"]}
package = "mojo package marrow -o package/marrow.mojopkg"

[dependencies]
mojo = "<1.0.0"
# Python 3.14 breaks the pyarrow installation, stay on an older version.
python = "3.12.*"
pytest = "8.*"
ruff = "0.14.*"

[pypi-dependencies]
pyarrow = ">=19.0.1, <21"
