[project]
authors = ["Krisztian Szucs <szucs.krisztian@gmail.com>"]
channels = ["https://conda.modular.com/max-nightly", "https://conda.modular.com/max", "https://repo.prefix.dev/modular-community", "conda-forge"]
name = "firebolt"
platforms = ["osx-arm64", "linux-64"]
version = "0.1.0"

[tasks]
test = "mojo test firebolt -I ."
fmt = "mojo format firebolt"

[dependencies]
modular = ">=25.5.0.dev2025070405,<26"

[pypi-dependencies]
pyarrow = ">=19.0.1, <21"
